*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Verdana";
}

/*Header*/
header{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
    font-size: 45px;
    text-transform: uppercase;
}

/*Main*/

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.grid{
    width: 400px;
    height: 400px;
    display: grid;
    background-color: grey;
    border: 1px solid black;
}

.buttons{
    margin-top: 24px;
}

.buttons > * {
    padding: 8px 16px;
    background-color: #261da8;
    font-size: 20px;
    color: white;
    border-radius: 8px;
    border: 1px solid black;
}
